svg {
  border: 1px solid #000000;

  .domain {
    stroke: #FF0000;
  }

  .tick {
    line {
      stroke: #FF0000;
    }

    text {
      stroke: #000000;
    }
  }

  .arc {
    text {
      font: 10px Arial, Georgia, sans-serif;
      text-anchor: middle;
    }

    path {
      stroke: #FFFFFF;
    }
  }
}

